In [60]:
import pandas as pd
import matplotlib.pyplot as plt

In [61]:
%matplotlib inline

In [121]:
# downloads information in csv link and converts csv data to data frame
data = pd.read_csv("http://forever.codeforamerica.org/fellowship-2015-tech-interview/Violations-2012.csv",parse_dates=['violation_date', 'violation_date_closed'])
data_frame = pd.DataFrame(data)

In [119]:
# parse data set to relevant data points
violations = data_frame[['violation_category','violation_date']]

      violation_category violation_date
0     Garbage and Refuse     2012-01-03
1  Unsanitary Conditions     2012-01-03
2     Garbage and Refuse     2012-01-03
3     Garbage and Refuse     2012-01-03
4     Garbage and Refuse     2012-01-03

# Calculate the number of violations in each category

In [79]:
# violations categories are sorted by the number of violations in each category

violations_group = violations.groupby('violation_category')
violations_number = violations_group.size().sort_values()

In [118]:
# print output of sorted values
print violations_number

violation_category
Retail Food                   1
Air Pollutants and Odors      2
Biohazards                    7
Chemical Hazards             17
Building Conditions          62
Vegetation                   67
Unsanitary Conditions        83
Garbage and Refuse          126
Animals and Pests           180
dtype: int64

# Find the earliest and latest date for each violation

In [123]:
# find and print earliest date for each violation category with 
earliest = violations.loc[violations.groupby("violation_category")["violation_date"].idxmin()]

In [113]:
# find and print latest date for each violation
latest = violations.loc[violations.groupby("violation_category")["violation_date"].idxmax()]
latest

           violation_category violation_date
529  Air Pollutants and Odors     2012-12-19
492         Animals and Pests     2012-12-28
526                Biohazards     2012-12-18
542       Building Conditions     2012-12-26
482          Chemical Hazards     2012-12-06
502        Garbage and Refuse     2012-12-21
541               Retail Food     2012-12-20
537     Unsanitary Conditions     2012-12-19
477                Vegetation     2012-12-05